---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-3xl font-bold text-center">Apply</h1>
  <p class="mt-4 text-center">
    Join Qatari Virtual Landing by submitting your application today!
  </p>
</Layout>