---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-3xl font-bold text-center">Staff</h1>
  <p class="mt-4 text-center">
    Meet the dedicated staff members who make Qatari Virtual Landing possible.
  </p>
</Layout>